*{
    margin: 0;
    box-sizing: border box;
}
header{
    background-color: rgb(42, 58, 42);
    height:auto;
    width: 100%;
    margin: 0%;
    padding:0 px;
    
}

.menu {
    list-style-type: none; 
    margin:0; 
    
    padding: 0;
    display: flex; 
    justify-content: center;
}

.menu a{
    text-decoration: none;
    color: #00c5bb;
    
    } 
    .menu li{
       padding: 0px 5px;
    } 
    #nom{
        margin: 0 50px;

    } 
    #Accueil{
    height: auto;
    padding: 20px 20px 30px;
     background-color:white
     font-size: small;
    }
    
    div>h3{
        font-size:smaller;
        margin:10px;
    }
    #Apropos{
        background-color:rgb(230, 221, 220);
        height:160px;
         padding: 20px; /* Espacement interne */
    border-radius: 10px; /* Coins arrondis */
    }   
  
  div p{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  div>h4{
    
    color: rgb(9, 107, 107);
    margin-left: 200px;
    margin-top: 10px;
    }
    .button{
        margin-top: 20px;
       margin: bottom 40px;
    }
  

  #Apropos {
    background-color: rgb(230, 221, 220);
    padding: 10px
    border-radius: 10px; 
    margin: 20px 0px; 
}

#conteneur {
    display: flex; 
    align-items: flex-start; 
    gap: 30px; 
    flex-wrap: wrap; 
}

#parag {
    flex: 1; 
    font-family: Cambria, Georgia, serif;
    font-size: 16px;
    line-height: 1.6; 
    color: #333;
    margin: 0; 
}
.CV {
    margin: 5px auto; 
    border-radius: 5%; 
    width: fit-content; 
    height: 10px; 
    background-color: aqua; 
    color: white;
    border: 2px solid rgb(6, 214, 221); 
    padding: 0px 20px 20px; 
    text-align: center;
}
#conteneur img {
    width: 180px; 
    height:130px; 
    margin-bottom: 70px;
    margin-right:  40px;;
    border-radius: 50%;
    border: solid rgb(6, 214, 221) 3px; 
}
#Compétences{
   background-color:rgb(255, 255, 255) ;
}

#box {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
}

.parac {
    width: 30%; 
    background-color: rgb(230, 221, 220);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour l'apparence */
    text-align: center; /* Centre le texte */
}
.voirproj{
background-color: aqua;
width:60px;
height:30px;
margin-left: 90px;
margin-top: 10px;
padding-left: 10px;
font-family:'Courier New', Courier, monospace;
border-radius:10%;
}

#softskills{
display: flex;
height: auto;
}
.softskil{
width: 50%;
height: 70%;
margin-left:15%;
background-color:white;
}
#box {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}
div>h4{
    margin-bottom: 10px;
    margin-left: 350px;
    font-size:larger;
}
#voir h4{
   margin-left: 300px;
   margin-top: 20px;
}
section{
    margin-top: 10px;
}

div>h5{
    font-size:15px;
    margin-bottom:15px;
    margin-left: 5%;
}
.competence label {
    display: block; 
   margin-top: 5px;
    margin-bottom: 5px; 
}
#Compétence h4{
    margin-top:30px;
}

#contact {
    background-color: #1a1a1a; 
    color: white; 
    padding: 50px 20px; 
    text-align: center; 
}
.contact-container {
    max-width: 800px;
    margin: auto; 
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#contact .highlight {
    color: #00c5bb; 
}

#contact p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.contact-form .form-group {
    display: flex;
    gap: 20px; 
}

.contact-form .form-group div {
    flex: 1; 
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #999;
}

.contact-form .btn-envoyer {
    background-color: #00c5bb;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .btn-envoyer:hover {
    background-color: #009e8f; 
}
#pieds{
display: flex;
height:30px;
background-color:rgb(230, 221, 220);
margin-top: 0px;
padding: 30px;
}
.auteur{
    margin-right:100px;
    margin-left:60px;
    padding-right:30px;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}